<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
    <h1>The site is currently being updated.</h1>
    <p>Site will be up shortly.</p>
</body>
</html>